CREATE TABLE {{ database }}.{{ schema }}.{{ table_name }} ({% for column in columns %} {{ column.name }} {{ column.type }}{% if column.size %}({{ column.size }}){% endif %}{% if column.default %} DEFAULT {{ column.default }}{% endif %}{% if column.not_null %} NOT NULL{% endif %}{% if not loop.last %}\,{% endif %} {% endfor %});